*password*
sql_server_settings.json
settings.json

0_Project_EDA/data
0_Project_ML/data
0_Project_ML.zip

eda_project.cer

data

bicis.zip
201906_Usage_Bicimad.json

0_exploration.ipynb

config

*__pycache__*